<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PieFactoryEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=mysql.itu.dk;User Id=pf;password=pf123;Persist Security Info=True;database=PieFactory&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
